.wrapper {
    width: 100%;
    margin-bottom: 50px;
    .title {
        margin: 30px 0 20px 0;
    }
    .item {
        width: 1000px;
        margin-bottom: 12px;
        padding: 0 24px;
        font-size: 14px;
    }
    .purple {
        color: #8710d8;
        font-size: 20px;
        margin-right: 5px;
    }
}
