.dropdown .dropdown-menu {
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
    border: 0px solid transparent;
    background-color: #ff3368;
  }
  
  .dropdown .dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 8px 20px !important;
    color: #fff !important;
    background-color: #ff3368;
    text-transform: capitalize;
  }
  
  .dropdown:hover .dropdown-menu {
    transform: scale(1);
  }
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border: 0px solid transparent;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown .dropdown-menu {
    transform: scale(1, 0);
    display: none;
    margin-top: 10px;
  }

  .dropdown:hover .dropdown-menu {
    transform: scale(1);
    display: block;
    color: #ff3368;
  }
  .dropdown-menu {
    border: 0px solid rgba(0, 0, 0, 0.15) !important;
    background-color: #fafafa;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  