.wrapper {
    width: 245px;
    height: 285px;
    .list-item {
        &-img {
            display: block;
            width: 100%;
            z-index: 1;
            border-radius: 10px;
        }
        &-desc {
            font-size: 17px;
            margin-bottom: 10px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            max-width: 100%;
        }
        &-author {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: #999;
            margin-bottom: 5px;
        }
        &-price {
            display: block;
            font-weight: 700;
            margin-bottom: 5px;
        }
        &-tag {
            width: 66px;
            padding: 5px 8px;
            background-color: #eceb98;
            font-size: 11px;
            font-weight: 600;
        }
        &:hover {
            .img-container {
                // background-color: #000;
                opacity: 0.8;
                transition: all 0.2s linear;
                z-index: 99;
            }
        }
    }
}
